<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title"></span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            jcghjvyvkk
            <img [src]="students.avatar" class="avatar students-avatar huge m-0"
                 [alt]="students.firstname"/>
            <div class="students-name mt-8">{{students.firstname}} {{students.lastname}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0 mt-50 aaa" fusePerfectScrollbar>

        <form [formGroup]="studentForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Room</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="room" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Studentnumber</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="studentnumber" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Studentid</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="studentid" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prefix</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input name="prefix" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Firstname</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="firstname" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Lastname</mat-label>
                    <mat-icon matSuffix class="secondary-text">domain</mat-icon>
                    <input name="lastname" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Identificationnumber</mat-label>
                    <mat-icon matSuffix class="secondary-text">work</mat-icon>
                    <input name="identificationnumber" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Attendancedate</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker" name="attendancedate">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Oldschool</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="oldschool" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Province</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="province" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Lastfloor</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="lastfloor" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker1" name="birthday">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker1"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Sex</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="sex" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nationality</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="nationality" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Religion</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="religion" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Fatherfullname</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="fatherfullname" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Motherfullname</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="motherfullname" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Pp1set</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="pp1set" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Pp1number</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="pp1number" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Pp2number</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="pp2number" matInput>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Enddateofapproval</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker2" name="enddateofapproval">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker2"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Approvaldate</mat-label>
                    <input matInput [matDatepicker]="birthdayDatePicker3" name="approvaldate">
                    <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker3"></mat-datepicker-toggle>
                    <mat-datepicker #birthdayDatePicker3></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Cause</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="cause" matInput>
                </mat-form-field>
            </div>

            <!-- <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Notes</mat-label>
                    <textarea name="notes"  matInput type="text" max-rows="4"></textarea>
                </mat-form-field>
            </div> -->

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

            <button *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="matDialogRef.close(['delete',studentForm])"
            aria-label="Delete"
            matTooltip="Delete">
        DELETE
    </button>

    <button *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(studentForm)"
            [disabled]="studentForm.invalid"
            aria-label="SAVE">
        ADD
    </button>

    <button *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(['save',studentForm])"
            [disabled]="studentForm.invalid"
            aria-label="SAVE">
        SAVE
    </button>

    </div>
</div>