

.example-card {
  width: 80%;
  height: 20%;
  margin-top: 20%;
  margin: 10%;
}
.example-card2 {
  width: 80%;
  height: 20%;
  margin-top: 1%;
  margin: 1%;
}
.fontemail {
  font-size: 120%;
}
.bt_link {
  margin-top: -4%;
  margin-left: 28%;
}
.bt_cancel {
  margin-top: -4%;
  margin-left: 37%;
}
.ng {
  margin-top: 3%;
  margin-left: 1%;
  margin-bottom: -4%;
}
.bt_add {
  margin-left: 5%;
}
.h1{
    font-size: 15px;
}